/* .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 2px solid red;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('https://via.placeholder.com/150');
    background-size: cover;
    margin-top: 20px;
  }
  
  .profile-info {
    margin-top: 20px;
  }
  
  .profile-info div {
    margin-bottom: 10px;
  }
  
  .profile-info strong {
    margin-right: 10px;
  }
   */


  
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #ccc;
    transition: box-shadow 0.3s ease;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('https://via.placeholder.com/150');
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .profile-picture:hover {
    box-shadow: 0px 0px 10px 2px #aaa;
  }
  
  .profile-info {
    margin-top: 20px;
  }
  
  .profile-info div {
    margin-bottom: 10px;
  }
  
  .profile-info strong {
    margin-right: 10px;
  }
  